.nav-bar {
    background: #f8f8f8;
    .container {
        @include flex(row, space-between, stretch);
        height: 72px;
        padding: 0 15px;
    }
    .logo {
        flex: 0 0 auto;
        width: 120px;
        background: none left center no-repeat;
    }
    .user-box {
        flex: 0 0 auto;
        @include flex();
        .login-regist-group {
            @include flex();
            border-radius: 20px;
            overflow: hidden;
            .btn {
                flex: 0 0 auto;
                padding: 0 8px;
                line-height: 40px;
                background: #3f83fe;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }
                &:nth-child(n+2) {
                    border-left: 1px solid transparent;
                    position: relative;
                    &:before{
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -7px;
                        height: 14px;
                        width: 1px;
                        background: #fff;
                        content: '';
                    }
                }
            }
        }
        .user-avator {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: none center no-repeat;
            background-size: cover;
        }
    }
    .dropdown-menu-box {
        position: relative;

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            padding: 20px 10px;
            background: #fff;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            .menu-list {
                .menu {
                    display: block;
                    white-space: nowrap;
                }
            }
        }
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
    
}