//视图尺寸定义
$width-design-m: 750;
$width-pc-min: 1000;

//字体大小定义
$font-default: 14px;
$font-s: 12px;
$font-h1: 40px;
$font-h2: 30px;
$font-h3: 24px;
$font-h4: 20px;
$font-h5: 18px;
$font-h6: 16px;

//颜色定义，$color-xxx定义前景色，$bg-xxx定义背景色
$color-default: #666;
$color-active: blue;
$color-disabled: #999;
$color-warning: yellow;
$color-error: red;
$color-success: green;

//边框、线条定义
$border-default: 1px solid #ccc;

@mixin mobile() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin mobile-xs() {
    @media screen and (max-width: 359px) {
        @content;
    }
}


@mixin flex($flow:row nowrap, $jus:space-between, $ali:center) {
    display: flex;
    flex-flow: $flow;
    justify-content: $jus;
    align-items: $ali;
}

@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin clearfix-after {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

@mixin content {
    .content {
        @content;
    }
}

@function get-rem-size($px){
    @return $px/100 + 'rem';
}
